<div class='container-fluid hero done'>
  <div class='row-fluid'>
    <div class='span12'>

        <h1>Illuminati</h1>
        <h2>Thank you for signing up. We'll be in touch soon!</h2>

    </div>
  </div>
</div>
