<div class='container-fluid hero'>
  <div class='row-fluid'>
    <div class='span12'>

        <h1>Illuminati</h1>
        <% if flash[:notice] %>
          <h2><%= h flash[:notice] %></h2>
        <% end %>

    </div>
  </div>
</div>
